# SSE server URL
VITE_SERVER_URL=http://localhost:3001

# TempoStreamChannel module address on Movement testnet
VITE_MODULE_ADDRESS=0x3e9edf3be513781a6db0706b652da425ad67f58b5cb366847126bf0fb716fc58
VITE_REGISTRY_ADDR=0x3e9edf3be513781a6db0706b652da425ad67f58b5cb366847126bf0fb716fc58

# USDCx FA metadata address on Movement testnet
VITE_TOKEN_METADATA_ADDR=0x63f169ba69623ba6ccf34620857644feb46d0f87e1d7bbcf8c071d30c3d94bd6
VITE_TOKEN_SYMBOL=USDCx
VITE_TOKEN_DECIMALS=6

# To use USDC.e instead:
# VITE_TOKEN_METADATA_ADDR=0xc6f5b46ab5307dfe3e565668edcc1461b31cac5a6c2739fba17d9fdde16813a2
# VITE_TOKEN_SYMBOL=USDC.e
# VITE_TOKEN_DECIMALS=6

# To use native MOVE instead:
# VITE_TOKEN_METADATA_ADDR=0xa
# VITE_TOKEN_SYMBOL=MOVE
# VITE_TOKEN_DECIMALS=8
